[submodule "sys/zlib"]
	path = sys/zlib
	url = https://github.com/pheihuihui/zlib
[submodule "sys/openjpeg"]
	path = sys/openjpeg
	url = https://github.com/pheihuihui/openjpeg
[submodule "sys/libwebp"]
	path = sys/libwebp
	url = https://github.com/pheihuihui/libwebp
[submodule "sys/libjpeg"]
	path = sys/libjpeg
	url = https://github.com/pheihuihui/libjpeg
